* {
  margin: 0;
  padding: 0;
  border: none;
}

body
{
  font: 13px/18px sans-serif;
  color: #333;
  background-color: #fff;
  padding: 16px;
}

a
{
  text-decoration: none;
  color: inherit;
  color: #333;
}

a:hover
{
  color: #333;
}

#footer
{
  margin: 16px 16px 0;
  padding: 16px 0 0;
  border-top: 1px solid #333;
  float: none;
  clear: both;
  width: auto;
}